
  <!-- Portfolio Section -->
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">Photos</h2>
    <hr style="width:100%" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="/static/bike_skyline_resized.jpg" style="width:100%" alt="A red road bike on a boardwalk in front of Austin's Lady Bird Lake and the city skyline">
        <img src="/static/bike_lake_resized.jpg" style="width:100%" alt="A red road bike on a gravel trail in front of Austin's Lady Bird Lake">
        <img src="/static/funny_selfie_resized.jpg" style="width:100%" alt="A silly picture of a boy in a colorful sweater riding a bicycle">
      </div>

      <div class="w3-half">
        <img src="/static/geese_resized.jpg" style="width:100%" alt="Two geese looking over Austin's Lady Bird Lake">
        <img src="/static/lake_skyline_resized.jpg" style="width:100%" alt="Austin's Skyline reflected over a beautiful body of blue water">
        <img src="/static/trail_lake_resized.jpg" style="width:100%" alt="A red road bike on a gravel trail in front of Austin's Lady Bird Lake">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>