<!DOCTYPE html>
{% csrf_token %}
{% load static %}
<html>
<head>
  <script defer src="https://us.umami.is/script.js" data-website-id="aa83b743-bc2b-4587-8c5d-d7954fa4b957"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
<title>Austin Bike Tours</title>
<link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
table, th, td {
            border: 1px solid white;
            border-collapse: collapse;
            padding: 10px;
            background-color: black;
            color: white
            }
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
</head>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="/static/bike_logo.jpg" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
  <a href="#book" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-calendar w3-xxlarge"></i>
    <p>BOOK</p>
  </a>
  <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>PHOTOS</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#book" class="w3-bar-item w3-button" style="width:25% !important">BOOK</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo">Hippie City Bike Tours</h1>
<h4>From Shoal Creek To Barton Springs!</h4>
  </header>
  
  <div hx-get="/homepage_image_5" hx-trigger="load">
    <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
  </div>
  <!-- <img src="/static/barton_dive_resized.jpg" alt="A man dives head-first into Barton Springs Pool on a sunny Texas afternoon" class="w3-image" width=100%> -->
  <!-- About Tours Section -->

  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">DO YOU LIKE RIDING BIKES?</h2>
    <hr style="width:100%" class="w3-opacity">
    <h2> <a href="mailto:biketours@bencarneiro.com">BOOK A TOUR</a></h2>
    <!-- <p>Visiting Austin is an excellent opportunity to discover your inner alcoholic, but we actually have very nice parks too!</p> -->
    </div>
    
    <div hx-get="/homepage_image_3" hx-trigger="load">
      <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
    </div>
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about2">

    <h2 class="w3-text-light-grey">DO YOU LOVE URBAN WATERWAYS?</h2>
    <hr style="width:100%" class="w3-opacity">

    <h2> <a href="mailto:biketours@bencarneiro.com">BOOK A TOUR</a></h2>
    <!-- <p>Some parts are safe to swim in!</p> -->
  </div>
  <div hx-get="/homepage_image_2" hx-trigger="load">
    <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
  </div>
  
   
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about3">
    <h2 class="w3-text-light-grey">WOULD YOU GANDER AT A GOOSE?</h2>
    <hr style="width:100%" class="w3-opacity">

    <h2> <a href="mailto:biketours@bencarneiro.com">BOOK A TOUR</a></h2>
    <!-- <p>HONK!</p> -->
    <!-- <p> Austin has more entertainment options than you can shake a stick at, but I think the nicest way to see the city is on our trail network. Come and hang out like the locals do: We bake in the sun, and then we dip in the water, and then we repeat, every day, potentially forever. Come ride bikes among the trees, creeks, and wildlife. <br><br>My main tour is a laid-back cruise, down the Shoal Creek Trail, through Pease Park, over Lady Bird Lake, up Barton Creek, and to the Barton Springs Pool, where we'll have a light picnic and some cold beer. Whether it's winter or summer, you'll have the opportunity to experience the magical healing power of Barton Springs and hang out in the sun before we ride back uptown. This no-cars, no-worries cruise is everything I love about Austin, encapsulated in an afternoon of fun in the sun.  -->
    </p>
    
    <!-- <img src="/static/selfie_mopac.jpg" style="width:100%"> -->
  </div>
  <div hx-get="/homepage_image_4" hx-trigger="load">
    <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
  </div>

  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about4">

    <h2 class="w3-text-light-grey">WANT TO SWIM IN THE TEXAS HEAT?</h2>
    <hr style="width:100%" class="w3-opacity">

    <h2> <a href="mailto:biketours@bencarneiro.com">BOOK A TOUR</a></h2>
    <!-- <p>(Sweat so much you almost DIE, and then go swimming)</p> -->
    </div>
  
    <div hx-get="/homepage_image_1" hx-trigger="load">
      <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
    </div>
  <!-- About Ben -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">About Ben</h2>
    <hr style="width:100%" class="w3-opacity">
    <p>I like bikes.<br><br> I run a few websites about cities and transportation. <a href="https://roadway.report">roadway.report</a> is a nationwide vision-zero map. I am also the founder of <a href="https://censusmaps.org">censusmaps.org</a>, <a href="https://transit.observer">transit.observer</a>, and <a href="https://draft.support">draft.support</a>.<br><br> Austin is great, and I would love to show you around.
    </p>
    <!-- <img src="/static/selfie_mopac.jpg" style="width:100%"> -->
  </div>
  

  <!-- BOOKINGS Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="book">
    <h2 class="w3-text-light-grey"><a href="mailto:biketours@bencarneiro.com">Book a Tour?</a></h2>
    <hr style="width:100%" class="w3-opacity">

    <h2> <a href="mailto:biketours@bencarneiro.com">BOOK A TOUR</a></h2>
    <!-- <table>
      <tr>
          <th>
              Day
          </th>
          <th>
              Tours
          </th>
      </tr>
      {% for day, tours in calendar.items %}
      <tr>
          <td>
              {{ day|date:"l" }} - {{ day|date }}
          </td>
          <td>
              {% for tour in tours %}
              {{ tour.type.name }} -- ${{ tour.type.price_in_dollars}} -- <a target="_blank" href={{tour.type.url}}?tour_id={{tour.id}}>details</a> -- {{tour.day|time}}
              {% if tour.open_spots %} <br>
              {{ tour.open_spots }} tour(s) available
              <form action="/create_checkout_session/" method="POST">
  
                  <input type="number" id="quantity" name="quantity" min="0" max= {{ tour.open_spots }}>
                  <input type="hidden" name="tour_price" value={{ tour.type.stripe_price }} />
                  <input type="hidden" name="tour_id" value= {{ tour.id }} />
                  
                  <button  type="submit" id="checkout-button">Checkout</button>
  
                </form>
              {% else %}
              
               -- SOLD OUT
              {% endif %}
              <br>
              {% endfor %}
          </td>
      </tr>
      {% endfor %}
     </table>  -->
    
    <!-- End BOOKING Section -->
  </div>





  <div hx-get="/gallery" hx-trigger="load">
    <!-- <img  alt="Result loading..." class="htmx-indicator" width="150" src="https://htmx.org/img/bars.svg"/> -->
  </div>





  <!-- CONTACT Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:100%" class="w3-opacity">

    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Meeting Point is in front of vacant lot at 2816 Rio Grande St, Austin TX 78705</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>(512) 632-2715 (text me)</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> biketours@bencarneiro.com</p>
      <p><i class="fa fa-wpforms fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> 
         Sign the <a target="_blank" href="https://forms.gle/6Qp8nCk8jsWQS7wv9">Liability Waiver</a></p>
    </div><br>
  <!-- End CONTACT Section -->
  </div>
  

<!-- END PAGE CONTENT -->
</div>

</body>
</html>