<html>
    <style>
        
        table {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2;}
        
        tr:hover {background-color: #ddd;}
        
        th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
</style>

{% load tz %}




<h1>Roadway Report Monitor <a href="https://roadway.report">(link)</a></h1>

<table id="roadway_report">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in roadway_report_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>



<h1>CensusMaps.org Monitor <a href="https://censusmaps.org">(link)</a></h1>

<table id="census_maps">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in census_maps_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>



<h1>Transit Observer Monitor <a href="https://transit.observer">(link)</a></h1>

<table id="transit_observer">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in transit_observer_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>



<h1>Hippie City Monitor <a href="https://hippie.city">(link)</a></h1>

<table id="hippie_city">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in hippie_city_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>



<h1>bencarneiro.com Monitor <a href="https://bencarneiro.com">(link)</a></h1>

<table id="ben_carneiro">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in ben_carneiro_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>



<h1>draft.support Monitor <a href="https://draft_support">(link)</a></h1>

<table id="draft_support">
    <tr>
        <th>
            test name
        </th>
        <th>
            ran at
        </th>
        <th>
            passed
        </th>
        <th>
            log
        </th>
    </tr>
    {% for log in draft_support_logs %}
    <tr>

    <td>
        {{ log.test_id }}
    </td>
        
    {% timezone "America/Chicago" %}
    <td>
         {{ log.created }}
    </td>
    {% endtimezone %}

        <td>
            {{ log.passed }}
        </td>
        <td>
             {{ log.log }}
        </td>
    </tr>
    {% endfor %}
</table>




    <h1>Traffic Bot <a href="https://mastodon.social/@austin_traffic_bot">(link)</a></h1>

    <table id="traffic_bot">
        <tr>
            <th>
                test name
            </th>
            <th>
                ran at
            </th>
            <th>
                passed
            </th>
            <th>
                log
            </th>
        </tr>
        {% for log in traffic_bot_logs %}
        <tr>

        <td>
            {{ log.test_id }}
        </td>
            
        {% timezone "America/Chicago" %}
        <td>
             {{ log.created }}
        </td>
        {% endtimezone %}

            <td>
                {{ log.passed }}
            </td>
            <td>
                 {{ log.log }}
            </td>
        </tr>
        {% endfor %}
    </table>


    <h1>Vision Zero Bot <a href="https://mastodon.social/@vision_zero">(link)</a></h1>

    <table id="vision_zero_bot">
        <tr>
            <th>
                test name
            </th>
            <th>
                ran at
            </th>
            <th>
                passed
            </th>
            <th>
                log
            </th>
        </tr>
        {% for log in vision_zero_bot_logs %}
        <tr>

        <td>
            {{ log.test_id }}
        </td>
            
        {% timezone "America/Chicago" %}
        <td>
             {{ log.created }}
        </td>
        {% endtimezone %}

            <td>
                {{ log.passed }}
            </td>
            <td>
                 {{ log.log }}
            </td>
        </tr>
        {% endfor %}
    </table>



    <h1>Austin Animal Center <a href="https://mastodon.social/@puppy_bot">(link)</a></h1>

    <table id="puppy_bot">
        <tr>
            <th>
                test name
            </th>
            <th>
                ran at
            </th>
            <th>
                passed
            </th>
            <th>
                log
            </th>
        </tr>
        {% for log in puppy_bot_logs %}
        <tr>

        <td>
            {{ log.test_id }}
        </td>
            
        {% timezone "America/Chicago" %}
        <td>
             {{ log.created }}
        </td>
        {% endtimezone %}

            <td>
                {{ log.passed }}
            </td>
            <td>
                 {{ log.log }}
            </td>
        </tr>
        {% endfor %}
    </table>



    <h1>Shrek 5 Countdown Bot <a href="https://bencarneiro.com/@shrek5bot">(link)</a></h1>

    <table id="shrek_bot">
        <tr>
            <th>
                test name
            </th>
            <th>
                ran at
            </th>
            <th>
                passed
            </th>
            <th>
                log
            </th>
        </tr>
        {% for log in shrek_bot_logs %}
        <tr>

        <td>
            {{ log.test_id }}
        </td>
            
        {% timezone "America/Chicago" %}
        <td>
             {{ log.created }}
        </td>
        {% endtimezone %}

            <td>
                {{ log.passed }}
            </td>
            <td>
                 {{ log.log }}
            </td>
        </tr>
        {% endfor %}
    </table>


</html>